<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!--post - цей метод викор при данних паролів-->
<!-- action тут - це ендпоінт на який будемо переходити коли натиснемо SEND(методом post)-->
<!-- name - обв'язково - це буде ключ об'єкта який прийде нам на /auth -->
<form action="/auth" method="post">
    <input type="text" name="name">
    <input type="text" name="password">
    <input type="submit" value="Send">
</form>

</body>
</html>