<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <link rel="stylesheet" href="./style/login.css">
                    <title>Registration page</title>
</head>
<body>

<h1>Registration Page</h1>
<hr/>
<div>
    <form action="/login" method="post" class="formClass">
        Name: <input type="text" name="name">
        Email: <input type="text" name="email">
        Password: <input type="text" name="password">
        Age: <input type="text" name="age">
        <input type="submit" value="Send">
    </form>
</div>


</body>
</html>