doctype html
html
    head
    body
        style
            include style.css
        div
            | Hello from Node
        div#id
            block content
        div.footer
            | Best regards
            br
            a(href=frontEndURL) Visit our site
// pug ліба для формування темплейтів для email(ів)
// тобто заготовок
// container в даному випадку це футер та хедер